@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#statbar {
  color: black;
  width: 300px;
  background: black;
  border-right: solid grey 0px;
  border-radius: 25px;
  font-size: 0.01em;
  height: 15px;
  opacity: 0.8;
  margin: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#percent {
  text-align: center;
}

* {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

main {
  display: none;
}

.usernameinput {
    width: 70%;
    border-radius: 40px;
    height: 40px;
}

#usernameinfo {
   text-align: center;
   font-family: 'Roboto', sans-serif;
   margin-top: 200px;
}
